body{
    background-color: #ff5833;
    padding-top: 0px;
}

.container {
    margin: 0px;
    padding:0px;
    width:100%;
}

.box-set-marg, footer {
    margin-left: 200px;
    margin-right: 200px;
}

.navigation {
    height: 55px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: azure;
    background-color: #000099;
    vertical-align: middle;
    box-shadow: inset 0px 10px 10px -12px rgba(0,0,0,0.75);
}

.nav-content {
    margin-left: 200px;
    margin-right: 200px;
    vertical-align: middle;
    color: white;
    font-size: smaller;
}

.web-header {
    background-color: white;
    margin: 0px;
    padding: 0px;
    height: 200px;
}

table th {
    text-align: center;
    vertical-align: middle;
    background-color: #d8e5e5;
    padding: 30px;
}

table {
    border-radius: 0.3em;
    overflow: hidden;
    border: 1px solid gainsboro;
    background-color:azure;
    color: darkblue;
}

td{
    padding-left: 15px;
}

#go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ff5833;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#go-to-top i {
    color: white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#go-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#go-to-top:hover i {
    color: #ff5833;
    top: 5px;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: #ff5833;
}

.box .b {
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation:ro 2s infinite;
}

.box .b1 {
    border-color:#4a69bd;
    width:120px;
    height:120px;
}

.box .b2 {
    border-color: #f6b93b;
    width: 100px;
    height: 100px;
    animation-delay:0.2s;
}

.box .b3 {
    border-color: #2ecc71;
    width: 80px;
    height: 80px;
    animation-delay: 0.4s;
}

.box .b4 {
    border-color: #34495e;
    width: 60px;
    height: 60px;
    animation-delay: 0.6s;
}

@keyframes ro{
    0%{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%,-50%) rotate(-180deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
}

.user-detail-box {
    background-color: rgba(255,255,255, 0.85);
    border-radius: 5px;
    width: 100%;
    height: auto;
    min-height: 100% !important;
    padding: 50px;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 10px 10px 16px -13px rgba(0,0,0,1);
}

#user_img {
    width: 200px;
    border: 3px solid #000099;
    border-radius: 10px;
}

.user_table_repos td{
    height:100px;
}

.repos_head {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.repos_desc {
    font-size: 14px;
    font-weight: lighter;
    font-style: normal;
    margin-left: 10px;
    color: darkgray;
}

.user_clone_url{
    width: 100%;
}

i {
    cursor: pointer;
    pointer-events: auto;
}

.user_table_username{
    height: 50px;
}

.copyBtn {
    background-color: Transparent;
}