
@{
    ViewBag.Title = "Home - GitHub Repository";
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/Content/stylesheet.css">

<script>
    $(document).ready(function () {
        $("#preload").delay(1000).fadeOut("slow");
        $("#main-contain").delay(1000).fadeIn("slow"); 
    });    
</script>

<div class="box" id="preload">
    <div class="b b1"></div>
    <div class="b b2"></div>
    <div class="b b3"></div>
    <div class="b b4"></div>
</div>

<div class="container container-fluid" id="main-contain" style="display:none;">
    <a href="javascript:" id="go-to-top"><i class="fas fa-chevron-up"></i></a>
    <div class=" web-header">
        <div class="row box-set-marg">
            <a href="Index"><img src="~/images/page_logo.png" style="margin-top:50px;" /></a>
        </div>
    </div>
   
    <div class="navigation">
        <div class="nav-content">
            <i class="fas fa-angle-double-right"></i> @Html.ActionLink("Home", "Index", "SearchUser", null, new { style = "color: White" })
        </div>
    </div>
    <div class="web-content">
        <br /><br />
        <div class="row box-set-marg">
            <div class="form-inline form-group input-group col-md-3" style="position: relative; float: right;">
                <input type="text" class="form-control" placeholder="Enter GitHub user" id="searchKeyword" sty />
                <span class="input-group-addon">
                    <i class="fa fa-search" style="color:#ff5833;"></i>
                </span>
            </div>
        </div>

        <div class="row box-set-marg">
            <table class="table table-hover table-bordered user_table_username">
                <thead>
                    <tr>
                        <th>GitHub Users</th>
                        <th style="width:10%">More Detail</th>
                    </tr>
                </thead>
                <tbody id="user_table"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#searchKeyword").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#user_table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(document).ready(function () {
        $.getJSON("https://api.github.com/users", function (data) {
            var user_data = '';
            $.each(data, function (key, value) {
                var $newLinkTarget = '@Url.Action("Repository")?id=' + value.login;
                user_data += '<tr>';
                user_data += '<td><i class=\"far fa-user\"  style=\"font-size:medium;color:#2A87B1\"></i>&nbsp;<a href=\"' + $newLinkTarget + '\"  style=\"font-size:16px;color:#2A87B1\">' + value.login + '</a></td>'
                user_data += '<td style=\"text-align:center;\"><a href=\"' + $newLinkTarget + '\"><i class=\"far fa-file-alt\"  style=\"font-size:20px;color:#2A87B1\"></i></a></td>'
                user_data += '</tr>';               
            });
            $('#user_table').append(user_data);
        });
    });

    $(window).scroll(function () {
        if ($(this).scrollTop() >= 50) {
            $('#go-to-top').fadeIn(200);
        } else {
            $('#go-to-top').fadeOut(200);
        }
    });

    $('#go-to-top').click(function () {
        $('body,html').animate({
            scrollTop: 0                   
        }, 500);
    });

</script> 