
@{
    ViewBag.Title = ViewBag.User_title + " - GitHub Repository";
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/Content/stylesheet.css">

<div class="container container-fluid" id="main-contain" style="display:block;">
    <a href="javascript:" id="go-to-top"><i class="fas fa-chevron-up"></i></a>
    <div class=" web-header">
        <div class="row box-set-marg">
            <a href="Index"><img src="~/images/page_logo.png" style="margin-top:50px;" /></a>
        </div>
    </div>

    <div class="navigation">
        <div class="nav-content">
            <i class="fas fa-angle-double-right"></i> @Html.ActionLink("Home", "Index", "SearchUser", null, new { style = "color: White" })
            <i class="fas fa-angle-double-right"></i> @Html.ActionLink((string) ViewBag.User_title, "Repository", "SearchUser", new { id = @ViewBag.User_title }, new{ style = "color: White" })
        </div>
    </div>
    <div class="web-content">
        <br /><br />
        <div class="row box-set-marg">
            <div class="user-detail-box">
                <div class="col-md-12">
                    <div class="col-xs-3">
                        <img src="" id="user_img" />
                    </div>
                    <div class="col-xs-9" style="padding-left: 5px;">
                        <div class="col-md-12">
                            <div class="col-sm-6">
                                <div class="row" style="font-size:25px;font-weight:bold" id="user_name"></div>
                                <div class="row" style="font-size:large;" id="user_login">&nbsp;</div>
                                <div class="row" style="font-size:small;" id="user_location">
                                    &nbsp;<i class="fas fa-map-marker-alt"></i>
                                </div>
                            </div>
                            <div class="col-sm-3" style="text-align:center">
                                <div class="row" style="font-size:large;" id="user_followers"><i class="far fa-user" style="font-size:medium"></i>&nbsp;</div>
                                <div class="row" style="font-size:small;"><b>Followers</b></div>
                            </div>
                            <div class="col-sm-3" style="text-align:center;">
                                <div class="row" style="font-size:large;" id="user_following"><i class="far fa-user" style="font-size:medium"></i>&nbsp;</div>
                                <div class="row" style="font-size:small;"><b>Following</b></div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <span style="font-size:small;font-weight:bold">&nbsp;GitHub&nbsp;</span>
                            <span id="user_github"></span>
                        </div>
                        <div class="col-md-12">
                            <span style="font-size:small;font-weight:bold">&nbsp;Blog&nbsp;</span>
                            <span id="user_blog"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div><br />

        <div class="row box-set-marg">
            <div class="form-inline form-group input-group col-md-3" style="position: relative; float: right;">
                <input type="text" class="form-control" placeholder="Enter keyword for search..." id="searchKeyword" sty />
                <span class="input-group-addon">
                    <i class="fa fa-search" style="color:#ff5833;"></i>
                </span>

            </div>
        </div>

        <div class="row box-set-marg">
            <table class="table table-hover table-bordered user_table_repos">
                <thead>
                    <tr>
                        <th>GitHub Repositories</th>
                        <th style="width:30%;">Clone URL</th>
                        <th style="width:10%;">Download</th>
                    </tr>
                </thead>
                <tbody id="user_table"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#searchKeyword").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#user_table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    
    $(document).ready(function () {
        var url = "https://api.github.com/users/@ViewBag.User_title";
        $.getJSON(url, function (data) {
            $("#user_img").attr("src", data.avatar_url);
            $("#user_name").append(data.name);
            $("#user_login").append(data.login);
            $("#user_location").append(data.location);
            $("#user_followers").append(data.followers);
            $("#user_following").append(data.following);
            var github = '<a href=\"' + data.html_url + '\" target=\"_blank\">' + data.html_url + '</a>';
            $("#user_github").append(github);
            var blog = '<a href=\"' + data.blog + '\" target=\"_blank\">' + data.blog + '</a>';
            $("#user_blog").append(blog);
        });
    });

    $(document).ready(function () {
        $.getJSON("https://api.github.com/users/@ViewBag.User_title/repos", function (data) {
            var user_repos = '';
            $.each(data, function (key, value) {
                var $newLinkTarget = '@Url.Action("RepositoryDetail")?id=' + value.login;
                user_repos += '<tr>';
                user_repos += '<td><span class=\"repos_head\"><i class=\"fas fa-code\"></i>&nbsp;' + value.name + '</span><br/>';
                user_repos += '<div class=\"repos_desc\" style=\"margin-left: 10px;\">' + value.description + '</div></td>';
                user_repos += '<td style=\"text-align:center;vertical-align:middle;\"><span class=\"form-inline\">';
                user_repos += '<input class=\"user_clone_url form-control\" type=\"text\" value=\"' + value.clone_url + '\" id=\"' + value.id + 'txt\" />';
                user_repos += '<button class=\"btn copyBtn\" id=\"' + value.id + '\"><i class=\"far fa-copy copyBtn\" style=\"font-size:24px;color:#2A87B1\"></i></button></span></td>';
                user_repos += '<td style=\"text-align:center;vertical-align:middle;\"><a href=\"http://api.github.com/repos/' + value.full_name + '/zipball\"><i class=\"far fa-file-archive\" style=\"font-size:25px;color:#2A87B1\"></i></a></td>';
                user_repos += '</tr>';               
            });
            $('#user_table').append(user_repos);
        });      
    });

    $(document).on('click', 'button.copyBtn', function (e) {
        var clone_url = document.getElementById(this.id + "txt");
        clone_url.select();
        document.execCommand("copy");
    });

    $(window).scroll(function () {
        if ($(this).scrollTop() >= 50) {
            $('#go-to-top').fadeIn(200);
        } else {
            $('#go-to-top').fadeOut(200);
        }
    });

    $('#go-to-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500);
    });

</script>